<div class="cart-container">
    <div class="cart-panel" *ngFor="let product of products">
        <img src={{product.url}}  />
        <h2> {{ product.name}} </h2>
        <h2>${{ product.price }}</h2>
        <h2>Amount:</h2>
        <input type="number" min="0" max="10" [(ngModel)]='product.quantity' (ngModelChange)='onNumberChanged($event, product)' />
    </div>

    <div>
        <h1>Total: ${{ calculateTotal() }}</h1>
    </div>

    <div class="form-margin">
        <form class="form" #form="ngForm" (ngSubmit)="onSubmit()">
            <div>
                <label>Full name</label>
                <input type="text" placeholder="(minimum 3 characters)" name="fullName" required minlength="3" [(ngModel)]="fullName" #customerName="ngModel"  />
            </div>
    
            <div>
                <label>Address</label>
                <input type="text" placeholder="(minimum 6 characters )" name="address" required minlength="6" [(ngModel)]="address" #customerAddress="ngModel"  />
            </div>
    
            <div>
                <label>Credit Card Number</label>
                <input type="text" placeholder="(16-digit number)" name="creditCardNumber" required minlength="16" [(ngModel)]="creditCardNumber" #paymentNumber="ngModel" pattern="^[0-9]*$"  />
            </div>
    
            <div>
                <label>We'll never share your payment details with anyone else.</label> 
            </div>
    
            <div>
                <button type="submit" [disabled]="form.invalid">Submit</button>
            </div>

            <div *ngIf="paymentNumber.dirty && paymentNumber.invalid">
                <div *ngIf="paymentNumber.errors?.required">
                    A credit card number is needed to check out.
                </div>
                <div *ngIf="paymentNumber.errors?.minlength">
                    The credit card must be 16 digits in length.
                </div>
                <!-- TODO: We need to check if the payment number contains anything but numbers -->
                <!-- TODO: Validation should only pass on numbers nothing else. -->
                <div *ngIf="paymentNumber.errors?.pattern">
                    Only Numbers allowed
                </div>
            </div>
     
            <div *ngIf="customerName.dirty && customerName.invalid">
                <div *ngIf="customerName.errors?.required">
                    Full name is required.
                </div>
                <div *ngIf="customerName.errors?.minlength">
                    The full name must be longer than 3 characters.
                </div>
            </div>
         
            <div *ngIf="customerAddress.dirty && customerAddress.invalid">
                <div *ngIf="customerAddress.errors?.required">
                    An address is required to check out.
                </div>
                <div *ngIf="customerAddress.errors?.minlength">
                    The address must contain more than 6 characters.
                  </div>
            </div>
        </form>
    </div>
</div>
